@import '../../@theme/theme.scss';

.content {
  margin-left: -$main-padding;
  margin-right: -$main-padding;
  margin-bottom: $main-padding;
  padding: $main-padding;
  background: #23232c;
  color: #fff;
  a {
    color: #fff;
    font-weight: 200;
  }
}

.main-wrapp {
  max-width: $max-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: $main-margin;
  .info {
    margin: 0;
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
}

.logo-wrapp {
  display: flex;
  justify-content: center;
  img {
    width: 200px;
    margin-top: -15px;
  }
}

@media screen and (max-width: $media-s) {
  .main-wrapp {
    display: block;
    .info {
      margin-bottom: $main-margin*2;
    }
  }
}
