
.carousel {
  overflow: hidden;
  @media screen and (max-width: 575px) {
    margin: auto -10px;
  }
  .owl-carousel {
    max-width: 85%;
  }
  ::ng-deep.owl-carousel {
    margin: auto;
    .owl-stage-outer {
        overflow: hidden;
    }
    .owl-stage{
        display: flex;
        align-items: center;
    }
  }
}
