<section>
  <div class="row mb-3" *ngFor="let row of data">
    <h2 class="mb-3">{{row.title | langPipe}}</h2>

    <div class="carousel d-flex j-between">
      <button class="btn-icon" (click)="carousel.prev()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <owl-carousel-o [options]="options" #carousel class="owl-carousel">
        <ng-template carouselSlide *ngFor="let product of row.products" [width]="130">
          <app-product [product]='product'></app-product>
        </ng-template>
      </owl-carousel-o>
      <button class="btn-icon" (click)="carousel.next()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

  </div>
</section>
