@import '../@theme/theme.scss';

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: $btn-radius;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }
  mat-icon {
    margin-right: 5px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    width: auto;
  }
  &.m {
    width: 200px;
  }
  @media screen and (max-width: $media-m) {
    font-size: 11px;
  }
}

.btn-dark {
  color: #fff;
  background-color: #000;
}

.btn-squere {
  width: 30px;
  padding: 0;
  height: 30px;
  border-radius: 50%;
}

.btn-underline {
  border-bottom: 1px solid;
  height: fit-content;
  border-radius: 0;
}

.pop-up {
  position: relative;
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
