@import '../@theme/theme.scss';

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: $btn-radius;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }
  mat-icon {
    margin-right: 5px;
  }
  &.m {
    width: 200px;
  }
  @media screen and (max-width: $media-m) {
    font-size: 11px;
  }
}

.btn-blue  {
  color: $blue040;
  border: 1px solid $blue040;
}

.btn-underline {
  border-bottom: 1px solid;
  height: fit-content;
  border-radius: 0;
}

.pop-up {
  position: relative;
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
