<div class="box">
  <div class="horizontal panel flex-center-between" style="top: 0;">
    <div class="d-flex a-center">
      <button (click)="sidenav.toggle()" class="btn-icon">
        <mat-icon style="font-size: 38px;" [inline]='true' aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
      <a class="btn-icon basket-btn-wrapp ml-2" routerLink='basket'>
        <div class="counter">{{basketCount}}</div>
        <img style="max-width: 28px;" class="w-100" src="assets/Test/box.png" alt="box">
      </a>
    </div>
    <a class="d-flex font-bold" routerLink=''>
      <img class="logo" src="assets/Logo/text-logo.svg" alt="Torch logo">
    </a>
    <div>
      <app-lang-changer></app-lang-changer>
    </div>
  </div>
  <div class="horizontal panel flex-center-center" style="bottom: 0;">
    <a class="social-icon" href="https://www.instagram.com/musker_fusker/"><img src="assets/Icons/instagram.svg" alt="Instagram link"></a>
    <a class="social-icon" href="https://www.instagram.com/musker_fusker/"><img src="assets/Icons/facebook.svg" alt="Facebook link"></a>
  </div>
  <mat-sidenav-container class="container">
    <mat-sidenav class="mobile-menu" position='start' #sidenav>
      <div class="main-wrapp">
        <ul class="info">
          <h4 class="mb-3">{{menu.title | langPipe}}</h4>
          <li *ngFor="let item of menu.items"><a (click)="sidenav.toggle()" [routerLink]="item.route"  >{{item.name | langPipe}}</a></li>
        </ul>
        <div class="logo-wrapp">
          <img src="assets/Logo/logo-white.svg" alt="Torch Logo">
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content" #content (scroll)="onWindowScroll($event)">
      <div class="basket-info" [@fade] *ngIf="showBasketInfo" routerLink="basket">
        <p class="font-m font-bold">В вашей коробке {{basketCount}} товаров</p>
        <img style="max-width: 30px;" class="w-100" src="assets/Test/box.png" alt="box">
      </div>
      <router-outlet style="display: none;"></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
