<div class="box">
  <div class="horizontal panel flex-center-between" style="top: 0;">
    <div class="d-flex a-center">
      <button (click)="sidenav.toggle()" class="btn-icon">
        <mat-icon style="font-size: 38px;" [inline]='true' aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
      <button class="btn-icon ml-2">
        <img style="max-width: 25px;" class="w-100" src="../assets/Test/box.png" alt="box">
      </button>
    </div>
    <div>
      <p>Logo</p>
    </div>
    <div>
      <app-lang-changer></app-lang-changer>
    </div>
  </div>
  <div class="horizontal panel flex-center-between" style="bottom: 0;">
    content-bottom
  </div>
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" position='start' #sidenav>
      test as a sad asda
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
