<div class="box">
  <div class="horizontal panel flex-center-between" style="top: 0;">
    <div class="d-flex a-center">
      <button (click)="sidenav.toggle()" class="btn-icon">
        <mat-icon style="font-size: 38px;" [inline]='true' aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
      <a class="btn-icon basket-btn-wrapp ml-2" routerLink='basket'>
        <div class="counter">{{basketCount}}</div>
        <img style="max-width: 28px;" class="w-100" src="assets/Test/box.png" alt="box">
      </a>
    </div>
    <a class="d-flex" routerLink=''>
      <img style="height: 38px;" src="assets/Logo/logo.svg" alt="logo">
    </a>
    <div>
      <app-lang-changer></app-lang-changer>
    </div>
  </div>
  <div class="horizontal panel flex-center-between" style="bottom: 0;">
    content-bottom
  </div>
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" position='start' #sidenav>
      test as a sad asda
    </mat-sidenav>
    <mat-sidenav-content class="content" #content (scroll)="onWindowScroll($event)">
      <div class="basket-info" [@fade] *ngIf="showBasketInfo" routerLink="basket">
        <p class="font-m font-bold">В вашей коробке {{basketCount}} товаров</p>
        <img style="max-width: 30px;" class="w-100" src="assets/Test/box.png" alt="box">
      </div>
      <router-outlet style="display: none;"></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
