@import './@theme/theme.scss';

$border-width: 1px;

.box {
  padding: $box-size $box-side;
  height: 100%;
  box-sizing: border-box;
}

.panel {
  position: absolute;
  height: $box-size;
  padding: 0 $box-size;
  &.horizontal {
    width: -webkit-fill-available;
    left: 0;
    .basket-btn-wrapp {
      position: relative;
      .counter {
        position: absolute;
        top: 6px;
        color: #000;
      }
    }
  }
}

.container {
  border: $border-width solid;
  height: 100%;
  .content {
    padding: $main-padding;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.basket-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  padding: 12px 25px;
  background-color: rgba($color: #fff, $alpha: 0.9);
  left: $box-size/2 + $border-width;
  top: $box-size + $border-width;
  width: calc(100% - #{$box-size + 2*$border-width});
  z-index: 50;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icon {
  height: 60%;
  margin: 0 15px;
  img {
    width: auto;
    height: 100%;
  }
}

.logo {
  height: 22px;
  @media screen and (max-width: $media-s) {
    height: 17px;
  }
}


.mobile-menu {
  width: 80%;
  padding: $main-padding;
  .main-wrapp {
    max-width: $max-width;
    margin: auto;
    margin-bottom: $main-margin;
    .info {
      margin: 0;
      padding-left: 0;
    }
    li {
      margin-bottom: 5px;
    }
  }
  .logo-wrapp {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    img {
      width: 150px;
      margin-left: -23px;
    }
  }
}
