@import '../../@theme/theme.scss';

.content {
  padding: $main-padding 0;
  h1, h3 {
    margin-bottom: $main-margin;
  }
  .type-info {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-bottom: $main-margin;
    padding-top: $main-padding;
  }
}

.block {
  border-radius: $border-radius;
  margin: $main-margin;
  padding: $main-padding*2;
  width: 100%;
  max-width: 580px;
  box-sizing: border-box;
  box-shadow: 0 1px 12.6px 0.4px rgb(0 0 0 / 18%);
}

@media screen and (max-width: $media-l) {
  .content {
    display: block;
    padding-top: 0;
  }
  .block {
    margin: 0 auto $main-margin;
  }
}

@media screen and (max-width: $media-m) {
  .block {
    padding: $main-padding $main-padding;
  }
}
